@using DMS.az.ViewModels.AboutUs
@model AboutUsIndexVM

@section links {
    <title>@ViewBag.Title - DMS.az</title>
    <link rel="stylesheet" href="~/Users/assets/css/about/about.css" />
}
@{
    var i = 1;
    var j = 1;
}

<!-- Breadcrumb -->
<section class="iq-breadcrumb">

    <div class="iq-breadcrumb-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-7 align-self-center">
                    <h2 class="iq-fw-8 mb-3">Haqqımızda</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Ana Səhifə</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Haqqımızda</li>
                        </ol>
                    </nav>
                </div>
                
                        <div class="col-md-5">
                            <img src="~/Users/newAssets/images/breadcrumb/blog.svg" class="img-fluid" alt="">
                        </div>
            </div>
        </div>
    </div>
    <div class="iq-breadcrumb-img">
        <img src="~/Users/newAssets/images/breadcrumb/02.png" class="img-fluid breadcrumb-two" alt="image">
    </div>
</section>
<!-- Breadcrumb END -->
<!-- Main Content -->
<div class="main-content">
    <!-- Team section -->
    <section class="iq-aboutteam  main-bg position-relative">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="section-title">
                        <p class="mt-5 text-uppercase text-white iq-fw-3 iq-ls-3">Komandamız ilə Tanış olun</p>
                        <h2 class="title  text-white iq-fw-8">Komandamız</h2>
                    </div>
                </div>
            </div>
            <div class="row">

                @if (Model.TeamMembers is not null)
                {
                    @foreach (var member in Model.TeamMembers)
                    {
                        <div class="col-lg-3 col-md-6">
                            <div class="team-box mb-4">
                                <div class="team-img text-center">
                                    <img src="~/Users/Uploads/Team/@member.Photo" alt="@member.Name @member.Surname" class=" rounded-circle"  style="width:100%; aspect-ratio:1; object-fit:cover">
                                </div>
                                <div class="team-detail">
                                    <a class="team-plus" href="#"><i class="fas fa-plus"></i></a>
                                    <div class="team-info">
                                        <h6 class="mb-0 text-white "><a >@member.Name @member.Surname</a></h6>
                                        <span class="mb-0 text-white text-gray iq-fw-4">@member.Duty</span>
                                    </div>
                                </div>

                                <div class="team-hover ">
                                    <p>
                                        @member.Description
                                        @* Progravida nibh vel velit auctor alinean sollicitudin nisi elit consequat ipsum. *@
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><a target="_blank" href="@member.Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item"><a target="_blank"  href="@member.LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li class="list-inline-item"><a target="_blank"  href="@member.Instagram"><i class="fab fa-instagram"></i></a></li>
                                        <li class="list-inline-item"><a target="_blank"  href="@member.Instagram"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </section>
    <!-- Team END -->
    <!-- Our History -->
    <section class="iq-history d-none">
        <div class="container">
            <div class="col-sm-12 text-center">
                <div class="section-title">
                    <p class="mb-0 text-uppercase iq-fw-5 iq-ls-3">Tarixçə</p>
                    <h2 class="title iq-fw-8">Şirkət Tarixi</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="owl-carousel" data-autoplay="false" data-loop="true" data-items="1" data-nav="true" data-dots="false" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="15">
                        @foreach (var companyHistory in Model.CompanyHistories)
                        {
                            <div class="item" style="padding:60px 30px; text-align:center; background-color:#00e69d; border-radius:12px" >
                                <h3 class="text-white iq-fw-8 mb-3 text-align-center">@companyHistory.Title</h3>
                                <p class="text-white mb-0">@companyHistory.Description</p>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our History END -->
    <!-- Choose From  -->
    <section class="iq-solutions " style="padding-top:80px">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-6 align-self-center wow fadeInRight">
                    <h2 class="iq-fw-8 mb-2">Haqqımızda</h2>
                    <p class="mb-3">
                        "DMS Azerbaijan" sosial media marketinqi və rəqəmsal marketinq xidmətləri üzrə ixtisaslaşmış yeni, iddialı və perspektivli agentlikdir.
                        Əsas diqqət mərkəzimiz xüsusilə idman, eyni zamanda qeyri-idman sahəsində rəqəmsal marketinq vasitələrinin tətbiqidir.
                        Qürurla deyə bilərik ki, bu müddət ərzində Azərbaycan Respublikası Milli Olimpiya Komitəsinin (MOK) etibarlı tərəfdaşı kimi artıq özümüzü bu sahədə doğrultmağı bacarmışıq. İki illik uğurlu fəaliyyətimizlə biz indi həm milli, həm də regional miqyasda böyüməyi və yeni bazarlara çıxışı hədəfləyirik.
                    </p>
                </div>
                <div class="col-lg-6">
                    <img src="~/Users/newAssets/images/aboutUs.JPG" class="w-full  wow fadeInLeft" height="500" style="object-fit:cover; aspect-ratio:3/4; width:100%" alt="DMS Azerbaijan - Team">
                </div>
            </div>
        </div>
    </section>
    <!-- Choose From END -->



</div>
