@using DMS.az.ViewModels.AboutUs
@model AboutUsIndexVM

@section links {
    <title>@ViewBag.Title - DMS.az</title>
    <link rel="stylesheet" href="~/Users/assets/css/about/about.css" />
}
@{
    var i = 1;
}

<!-- Breadcrumb -->
<section class="iq-breadcrumb">

    <div class="iq-breadcrumb-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-7 align-self-center">
                    <h2 class="iq-fw-8 mb-3">About Us</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ol>
                    </nav>
                </div>
                @if (Model.AboutUs is not null)
                {
                    @foreach (var aboutUs in Model.AboutUs)
                    {
                        <div class="col-md-5">
                            <img src="~/Users/images/@aboutUs.Photo1" class="img-fluid" alt="">
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="iq-breadcrumb-img">
        <img src="~/Users/newAssets/images/breadcrumb/02.png" class="img-fluid breadcrumb-two" alt="image">
    </div>
</section>
<!-- Breadcrumb END -->
<!-- Main Content -->
<div class="main-content">
    <!-- Team section -->
    <section class="iq-aboutteam  main-bg position-relative">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="section-title">
                        <p class="mt-5 text-uppercase text-white iq-fw-3 iq-ls-3">Meet the team</p>
                        <h2 class="title  text-white iq-fw-8">Our Best Team</h2>
                    </div>
                </div>
            </div>
            <div class="row">

                @if (Model.TeamMembers is not null)
                {
                    @foreach (var member in Model.TeamMembers)
                    {
                        <div class="col-lg-3 col-md-6">
                            <div class="team-box mb-4">
                                <div class="team-img text-center">
                                    <img src="~/Users/images/@member.Photo" class="img-fluid rounded-circle" alt="image">
                                </div>
                                <div class="team-detail">
                                    <a class="team-plus" href="#"><i class="fas fa-plus"></i></a>
                                    <div class="team-info">
                                        <h6 class="mb-0 text-white "><a href="team-detail.html">@member.Name @member.Surname</a></h6>
                                        <span class="mb-0 text-white text-gray iq-fw-4">@member.Duty</span>
                                    </div>
                                </div>

                                <div class="team-hover">
                                    <p>
                                        @member.Description
                                        @* Progravida nibh vel velit auctor alinean sollicitudin nisi elit consequat ipsum. *@
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                }

                <div class="col-lg-12 text-center">
                    <a class="slide-button button mb-0 mt-5" href="team.html">
                        <div class="first">Explore All Team</div>
                        <div class="second">Explore All Team</div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Team END -->
    <!-- Our History -->
    <section class="iq-history">
        <div class="container">
            <div class="col-sm-12 text-center">
                <div class="section-title">
                    <p class="mb-0 text-uppercase iq-fw-5 iq-ls-3">Tarixçə</p>
                    <h2 class="title iq-fw-8">Şirkət Tarixi</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="cd-horizontal-timeline">
                        <div class="timeline">
                            <div class="events-wrapper">
                                <div class="events">
                                    <ol>

                                            @foreach (var companyHistory in Model.CompanyHistories)
                                        {

                                        <li><a href="#" data-date="16/01/2014" style="left: @(120*i)px " class="@(i ==1 ? "selected":"")">20 mart</a></li>
                                        i++;
                                        }
                                       @*  <li><a href="#" data-date="20/04/2014">20 Mar</a></li>
                                        <li><a href="#" data-date="20/05/2014">20 May</a></li>
                                        <li><a href="#" data-date="09/07/2014">09 Jul</a></li>
                                        <li><a href="#" data-date="30/08/2014" class="selected">30 Aug</a></li>
                                        <li><a href="#" data-date="15/09/2014">15 Sep</a></li>
                                        <li><a href="#" data-date="01/11/2014">01 Nov</a></li>
                                        <li><a href="#" data-date="10/12/2014">10 Dec</a></li>
                                        <li><a href="#" data-date="19/01/2015">29 Jan</a></li>
                                        <li><a href="#" data-date="03/03/2015">3 Mar</a></li> *@

                                    </ol>
                                    <span class="filling-line" aria-hidden="true"></span>
                                </div>
                            </div>

                            <ul class="cd-timeline-navigation">
                                <li><a href="#" class="prev inactive">Prev</a></li>
                                <li><a href="#" class="next">Next</a></li>
                            </ul>
                        </div>
                        <div class="events-content">
                            <ol>
                                <li class=" selected " data-date="16/01/2014">
                                    <h3 class="text-white iq-fw-8 mb-3">Winners And Giving Prizes</h3>
                                    <p class="text-white mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                </li>
                                <li data-date="28/02/2014">
                                    <h3 class="text-white iq-fw-8 mb-3">The standard Lorem Ipsum passage</h3>
                                    <p class="text-white mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
                                </li>
                                <li data-date="20/04/2014">
                                    <h3 class="text-white iq-fw-8 mb-3">Finibus Bonorum et Malorum</h3>
                                    <p class="text-white mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.</p>
                                </li>
                                <li data-date="20/05/2014">
                                    <h3 class="text-white iq-fw-8 mb-3">Donec lacinia posuere rhoncus</h3>
                                    <p class="text-white mb-0">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                                </li>
                                <li data-date="09/07/2014">
                                    <h3 class="text-white iq-fw-8 mb-3">Neque porro quisquam dolorem ipsum</h3>
                                    <p class="text-white mb-0">Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.</p>
                                </li>
                                <li data-date="30/08/2014">
                                    <h3 class="text-white iq-fw-8 mb-3">Lorem ipsum began as scrambled</h3>
                                    <p class="text-white mb-0">Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. “It's not Latin, though it looks like it, and it actually says nothing,”</p>
                                </li>
                                <li data-date="15/09/2014">
                                    <h3 class="text-white iq-fw-8 mb-3">Creation timelines for the standard </h3>
                                    <p class="text-white mb-0">So how did the classical Latin become so incoherent? According to McClintock, a 15th century typesetter likely scrambled part of Cicero's De Finibus in order.</p>
                                </li>
                                <li data-date="01/11/2014">
                                    <h3 class="text-white iq-fw-8 mb-3">Some claim lorem ipsum threatens</h3>
                                    <p class="text-white mb-0">The strength of lorem ipsum is its weakness: it doesn't communicate. To some, designing a website around placeholder text is unacceptable, akin to sewing a custom.</p>
                                </li>
                                <li data-date="10/12/2014">
                                    <h3 class="text-white iq-fw-8 mb-3">Coming full the internet's remixing </h3>
                                    <p class="text-white mb-0">There was that time artists at Sequence opted to hand-Sharpie the lorem ipsum passage on a line of paper bags they designed for Chipotle—the result being a mixture of avant-garde.</p>
                                </li>
                                <li data-date="19/01/2015">
                                    <h3 class="text-white iq-fw-8 mb-3">Below are the original Latin passages</h3>
                                    <p class="text-white mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                                </li>
                                <li data-date="03/03/2015">
                                    <h3 class="text-white iq-fw-8 mb-3">Where does it come from?</h3>
                                    <p class="text-white mb-0">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making.</p>
                                </li>



                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our History END -->
    <!-- Choose From  -->
    <section class="iq-solutions pt-0">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-6 align-self-center wow fadeInRight">
                    <h2 class="iq-fw-8 mb-2">Who We are</h2>
                    <p class="mb-3">Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,Lorem Ipsum.lorem quis bibendum auctor. Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,Lorem Ipsum.lorem quis bibendum auctor.</p>
                    <p class="mb-3">Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor.</p>
                </div>
                <div class="col-lg-6">
                    <img src="~/Users/newAssets/images/others/2.jpg" class="img-fluid wow fadeInLeft" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Choose From END -->



</div>