
@using DMS.az.Utilities

@inject ILayoutService _layoutService

@{
    var contact = await _layoutService.GetContact();
    var services = await _layoutService.GetServices();

    string getClass(string actionName, string controllerName)
    {
        string action = ViewContext.RouteData.Values["Action"].ToString();
        string controller = ViewContext.RouteData.Values["Controller"].ToString();
        if (controller.ToLower() == controllerName.ToLower() && action.ToLower() == actionName.ToLower())
            return "active";
        return "";


    }
}


<!doctype html>
<html lang="az">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Users/newAssets/images/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Users/newAssets/css/bootstrap.min.css">
    <!-- Settings CSS -->
    <link rel="stylesheet" href="~/Users/newAssets/revslider/css/settings.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="~/Users/newAssets/css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/Users/newAssets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Users/newAssets/css/responsive.css">
    @RenderSection("links", required: false)
</head>
<body>
    <!-- loading -->
    <div id="loading">
        <div id="loading-center">
            <img src="~/Users/newAssets/images/loader.gif" alt="loder">
        </div>
    </div>
    <!-- loading End -->
    <!-- Header -->
    <header id="main-header" class="header-one">
        <!-- menu start -->
        <nav id="menu-1" class="mega-menu" data-color="">
            <!-- menu list items container -->
            <div class="menu-list-items">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- menu logo -->
                            <ul class="menu-logo">
                                <li>
                                    <a asp-action="index" asp-controller="home"><img src="~/Users/newAssets/images/logoDMS.svg" style="transform:scale(2.1)" alt="DMS Azerbaijan Logo SVG" class="img-fluid"></a>
                                </li>
                            </ul>
                            <!-- menu search bar -->
                            <ul class="menu-search-bar">
                                <li>
                                    <form method="get" asp-action="index" asp-controller="blogs">
                                        <label>
                                            <input name="search" placeholder="Axtar" type="search">
                                            <i class="fas fa-search"></i>
                                        </label>
                                    </form>
                                </li>
                                <li class="menu-contact iq-fw-5"><a href="tel:@contact.PhoneNumber"><i class="fas fa-phone pr-1 "></i> @contact.PhoneNumber</a></li>
                            </ul>
                            <!-- menu links -->
                            <ul class="menu-links">
                                <!-- active class -->
                                <li><a asp-action="index" asp-controller="home" class="@getClass("Index", "Home")">Ana Səhifə </a></li>
                                <li><a asp-action="index" asp-controller="aboutUs" class="@getClass("Index", "AboutUs")">Haqqımızda</a></li>

                                <li>
                                    <a asp-action="index" asp-controller="services" class="@getClass("Index", "Services")">Xidmətlər</a>
                                </li>

                                <li>
                                    <a asp-action="index" asp-controller="portfolio" class="@getClass("Index", "Portfolio")">Portfolio</a>
                                </li>

                                <li>
                                    <a asp-action="index" asp-controller="blogs" class="@getClass("Index", "Blogs")">Məqalələr</a>

                                </li>
                                <li><a asp-action="index" asp-controller="Contact" class="@getClass("Index", "Contact")">Əlaqə</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- menu end -->
    </header>
    <!-- Header END -->
    <!-- Main Content -->
    <main>

        @RenderBody()



    </main>

    <!-- Main Content END -->
    <footer class="footer-one footer-bg  position-relative">
        <img src="~/Users/newAssets/images/footer/4.png" class="img-fluid fshap-after" alt="image">
        <div class="iq-subscribe pattern-left  container position-relative" id="iq-subscribe">
            <div class="pattern-right">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="title-box text-left ">
                            <h2 class="title mb-3 text-white">Bizi izlə</h2>
                            <p class="text-white iq-fw-4 mb-0">Rəqəmsal marketinq ilə bağlı məqalələrimizi anında əldə etmək üçün Abunə Ol</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <form  asp-action="Subscribe" asp-controller="home" id="subscription-form" method="post" class="position-relative subscribe-form mt-5 mt-lg-0" >
                            <div class="form-group mb-0">
                                <input type="email" name="email" class="form-control position-relative subscription-email  mb-0" placeholder="Email">
                            </div>
                            <button type="submit" class="slide-button button bt-subscribe subscription-button " >
                                <div class="first">Abunə Ol</div>
                                <div class="second">Abunə Ol</div>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="contactinfo">
            <div class="container p-0">
                <div class="row ">
                    <div class="col-lg-4 col-md-6">
                        <div class="iq-footer-logo">
                            <a asp-action="index" asp-controller="home"><img src="~/Users/newAssets/images/logoDMS.svg" class="img-fluid" width="100" alt="DMS Azerbaijan Logo svg"></a>
                        </div>
                        <p>
                            "DMS Azerbaijan" sosial media marketinqi və rəqəmsal marketinq xidmətləri üzrə ixtisaslaşmış yeni, iddialı və perspektivli agentlikdir.
                        </p>
                        <div class="footer-copyright mb-4 iq-fw-5 mt-3">©DMS Azerbaijan</div>
                    </div>
                    <div class="col-lg-2 col-md-6 footer-link">
                        <h5 class="iq-fw-7 riq-mt-40">Keçidlər</h5>
                        <ul class="list-inline rmb-40">
                            <li class="list-item"><a asp-controller="home" asp-action="index">Ana Səhifə</a></li>
                            <li class="list-item"><a asp-action="index" asp-controller="aboutus">Haqqımızda</a></li>
                            <li class="list-item"><a asp-action="index" asp-controller="services">Xidmətlərimiz</a></li>
                            <li class="list-item"><a asp-action="index" asp-controller="blogs">Məqalələr</a></li>
                            <li class="list-item"><a asp-action="index" asp-controller="contac">Bizimlə Əlaqə</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-link">
                        <h5 class="iq-fw-7 ">Xidmətlərimiz</h5>
                        <ul class="list-inline">
                            @foreach (var service in services)
                            {
                            <li class="list-item"><a asp-action="details" asp-controller="services" asp-route-id="@service.Id">@service.Name</a></li>
                                
                            }
                         
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-link">
                        <h5 class="iq-fw-7 ">Əlaqə</h5>
                        <ul class="list-inline">
                            <li class="list-item"> <a href="tel:@contact.PhoneNumber"> <i class="fa fa-phone pe-2"></i><span class="iq-fw-5"> @contact.PhoneNumber</span></a></li>
                            <li class="list-item"> <a href="Mail:@contact.Email"><i class="fa fa-envelope pe-2"></i> @contact.Email</a></li>
                            <li class="list-item"><a href="https://www.instagram.com/dms_azerbaijan/"><i class="fab fa-instagram pe-2 iq-fw-6"></i>Instagram</a></li>
                            <li class="list-item"><a href="https://www.linkedin.com/company/dms-azerbaijan/?viewAsMember=true"><i class="fab fa-linkedin  pe-2 iq-fw-6"></i>LinkedIn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- back-to-top -->
        <div id="back-to-top">
            <a class="top" id="top" href="#top"><i class="ion-ios-arrow-thin-up"></i></a>
        </div>
        <!-- back-to-top End -->
    </footer>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Users/newAssets/js/jquery-min.js"></script>
    <!-- popper  -->
    <script src="~/Users/newAssets/js/popper.min.js"></script>
    <!--  bootstrap -->
    <script src="~/Users/newAssets/js/bootstrap.min.js"></script>
    <!-- Modernizr JavaScript -->
    <script src="~/Users/newAssets/js/modernizr.js"></script>
    <!-- Appear JavaScript -->
    <script src="~/Users/newAssets/js/appear.min.js"></script>
    <!-- Megamenu  -->
    <script src="~/Users/newAssets/js/mega_menu.min.js"></script>
    <!-- Timeline JavaScript -->
    <!-- Wow -->
    <script src="~/Users/newAssets/js/wow.min.js"></script>
    <!-- scrollme -->
    <script src="~/Users/newAssets/js/jquery.scrollme.min.js"></script>
    <!-- countdown JavaScript -->
    <script src="~/Users/newAssets/js/countdown.js"></script>
    <!-- waypoints JavaScript -->
    <script src="~/Users/newAssets/js/waypoints.min.js"></script>
    <!-- Counterup JavaScript -->
    <script src="~/Users/newAssets/js/jquery.counterup.min.js"></script>
    <!-- Owl Carousel JavaScript -->
    <script src="~/Users/newAssets/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup JavaScript -->
    <script src="~/Users/newAssets/js/jquery.magnific-popup.min.js"></script>
    <!-- Isotope JavaScript -->
    <script src="~/Users/newAssets/js/isotope.pkgd.min.js"></script>
    <!-- Progressbar JavaScript -->
    <script src="~/Users/newAssets/js/circle-progress.min.js"></script>
    <!-- Canvas JavaScript -->
    <script src="~/Users/newAssets/js/canvasjs.min.js"></script>
    <!-- REVOLUTION JS FILES -->
    <script src="~/Users/newAssets/revslider/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Users/newAssets/revslider/js/jquery.themepunch.revolution.min.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="~/Users/newAssets/revslider/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Users/newAssets/revslider/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/Users/newAssets/revslider/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/Users/newAssets/revslider/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Users/newAssets/revslider/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/Users/newAssets/revslider/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/Users/newAssets/revslider/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/Users/newAssets/revslider/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/Users/newAssets/revslider/js/extensions/revolution.extension.video.min.js"></script>
    <!-- Retina JavaScript -->
    <script src="~/Users/newAssets/js/retina.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="~/Users/newAssets/js/custom.js"></script>
    <script>
        var tpj = jQuery;

        var revapi3;
        tpj(document).ready(function () {
            if (tpj("#rev_slider_3_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_3_1");
            } else {
                revapi3 = tpj("#rev_slider_3_1").show().revolution({
                    sliderType: "standard",
                    jsFileLocation: "//localhost/revslider-standalone/revslider-standalone/revslider/public/revslider/assets/js/",
                    sliderLayout: "fullwidth",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        onHoverStop: "off",
                    },
                    visibilityLevels: [1240, 1024, 778, 480],
                    gridwidth: 1366,
                    gridheight: 790,
                    lazyType: "none",
                    parallax: {
                        type: "mouse",
                        origo: "enterpoint",
                        speed: 400,
                        levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 55],
                        type: "mouse",
                        disable_onmobile: "on"
                    },
                    shadow: 0,
                    spinner: "spinner0",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            }
        }); /*ready*/
    </script>
    <script>
        function submitForm(e){
            e.preventDefault();
        }
    </script>

    </>
    @RenderSection("Scripts", false)
</body>
</html>  