@using DMS.az.ViewModels.Blogs
@model BlogDetailsVM

@{
    // Set the culture to Azerbaijani (Azeri)
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("az");
}
<!-- Breadcrumb -->
<section class="iq-breadcrumb">

    <div class="iq-breadcrumb-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-7 align-self-center">
                    <h2 class="iq-fw-8 mb-3">Blog</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blog Details Right Sidebar</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-5">
                    <img src="~/Users/newAssets/images/breadcrumb/blog.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="iq-breadcrumb-img">
        <img src="~/Users/newAssets/images/breadcrumb/02.png" class="img-fluid breadcrumb-two" alt="image">
    </div>
</section>
<!-- Breadcrumb END -->
<!-- Main Content -->
<div class="main-content">
    <section class="iq-blogs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 order-lg-2 order-2">
                    <div class="right-side-blog">
                        <div class="iq-sidebar-widget">
                            <div class="iq-widget-search position-relative">
                                <a href="javascript:void(0)"> <i class="fa fa-search"></i></a>
                                <input type="search" placeholder="Search" class="form-control placeholder">
                            </div>
                        </div>

                        <div class="iq-mt-80">
                            <h5 class="iq-widget-title iq-fw-8 mb-4">Recent Posts</h5>

                            @foreach (var blog in Model.Blogs)
                            {
                                <div class="media mb-3">
                                    <img class="mr-3" src="~/Users/Uploads/Blogs/@blog.Photo" alt="image">
                                    <div class="media-body">
                                        <a href="javascript:void(0)">
                                            <h6 class="mt-0 iq-fw-8">@blog.Title</h6>
                                        </a>
                                        <span>@blog.PostDate.ToString("MMMM yyyy", culture)</span>
                                    </div>
                                </div>
                            }

                        </div>

                    </div>
                </div>
                <div class="col-lg-8 order-lg-1 order-2 iq-rmt-40">
                    <div class="blog-img">
                        <img src="~/Users/Uploads/Blogs/@Model.Blog.Photo" class="img-fluid mb-4" alt="image">
                        <ul class="d-inline-block">
                            <li class="d-inline-block"><a href="javascript:void(0)" class="mr-3"><i class="far fa-calendar-alt"></i> @Model.Blog.PostDate.ToShortDateString()</a></li>
                        </ul>
                        <h3 class="title iq-fw-8 mt-3">@Model.Blog.Title</h3>
                        <p>@Model.Blog.Description</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>