@using DMS.az.ViewModels.Blogs

@using DMS.az.Models;
@using X.PagedList.Mvc.Core
@using X.PagedList;
@using X.PagedList.Mvc.Common;


@model BlogIndexVM

@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@using X.PagedList; @*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@


@section Links{
    <link rel="stylesheet" href="~/Users/newAssets/css/Pagination.css">

}

<!-- Breadcrumb -->
<section class="iq-breadcrumb">

    <div class="iq-breadcrumb-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-7 align-self-center">
                    <h2 class="iq-fw-8 mb-3">Məqalələr</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Ana Səhifə</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Bütün Məqalələr</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-5">
                    <img src="~/Users/newAssets/images/breadcrumb/blog.svg" class="img-fluid" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="iq-breadcrumb-img">
        <img src="~/Users/newAssets/images/breadcrumb/02.png" class="img-fluid breadcrumb-two" alt="image">
    </div>
</section>
<!-- Breadcrumb END -->
<!-- Main Content -->
<div class="main-content">
    <!-- Blogs -->
    <section class="iq-blogs">
        <div class="container">
            <div class="row">

                @foreach (var blog in Model.Blogs)
                {
                    <article class="col-lg-4 col-md-6 col-sm-12">
                        <a asp-controller="blogs" asp-action="details" asp-route-id="@blog.Id" class="main-blog">
                            <div class="blog-img">
                                <img src="~/Users/Uploads/Blogs/@blog.Photo" class="img-fluid" style="aspect-ratio:4/3; object-fit:cover" alt="DMS Azerbaijan Blog - @blog.Title">
                            </div>
                            <div class="blog-detail d-block">
                                <a asp-controller="blogs" asp-action="details" asp-route-id="1">
                                    <h2 class="mt-1 iq-fw-8 h5">@blog.Title</h2>
                                </a>
                                <p class="mb-0">@blog.ShortDesc</p>
                            </div>
                        </a>
                    </article>
                }

            </div>


            <div class="row mt-5 d-flex align-items-center justify-content-center">

                  

                    @Html.PagedListPager(Model.Blogs, page =>
                    Url.Action("Index", new {
                    CurrentPage = page,
                    PageSize = Model.PageSize,
                    Search =ViewBag.Search,
                    }),

                    new PagedListRenderOptions {
                    MaximumPageNumbersToDisplay = 5,
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" },
                ContainerDivClasses = new [] { "d-flex justify-content-center" },

                    }
                    )
            </div>
        </div>
    </section>
</div>