@using DMS.az.ViewModels.Services
@model ServiceDetailsVM

@section links{
    <title>@Model.Service.Name - DMS.az</title>

    <script type="application/ld+json">
        {
          "@@context": "https://schema.org",
          "@@type": "Service",
          "serviceType": "@Model.Service.Name",
          "provider": {
            "@@type": "Organization",
            "name": "DMS Azerbaijan",
            "url": "https://www.dms.az",
            "logo": "https://www.dms.az/path/to/logo.png",
            "sameAs": ["https://www.facebook.com/dmsazerbaijan", "https://www.twitter.com/dmsazerbaijan"]
          },
          "areaServed": {
            "@@type": "Country",
            "name": "Azerbaijan"
          },
          "description": "@Html.Raw(Model.Service.Description)",
          "image": "https://www.dms.az/Users/Uploads/Services/@Model.Service.Photo",
          "offers": {
            "@@type": "Offer",
            "url": "https://www.dms.az/service/@Model.Service.Id",
            "priceCurrency": "AZN",
            "price": "Price or Price Range"
          },
          "hasOfferCatalog": {
            "@@type": "OfferCatalog",
            "name": "Services Offered by DMS Azerbaijan",
            "itemListElement": [
              {
                "@@type": "Offer",
                "itemOffered": {
                  "@@type": "Service",
                  "name": "@Model.Service.Name",
                  "description": "@Model.Service.Description"
                }
              },
             
              }
            ]
          }
        }
    </script>
}
<!-- Breadcrumb -->
<section class="iq-breadcrumb">

    <div class="iq-breadcrumb-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-7 align-self-center">
                    <h2 class="iq-fw-8 mb-3">@Model.Service.Name</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Ana Səhifə</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@Model.Service.Name</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-5">
                    <img src="~/Users/newAssets/images/breadcrumb/services.png" class="img-fluid" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="iq-breadcrumb-img">
        <img src="~/Users/newAssets/images/breadcrumb/02.png" class="img-fluid breadcrumb-two" alt="image">
    </div>
</section>
<!-- Breadcrumb END -->

<div class="main-content">
    <div class="overview-block-ptb">
        <!-- Services  -->
        <div class="iq-Services-detail  position-relative pt-0">
            <div class="container">
                <div class="row flex-row-reverse  ">
                    <div class="col-lg-6 align-self-center col-sm-12 wow fadeInRight">
                        <article>
                                <h2 class="mb-2 iq-fw-8">@Model.Service.Name</h2>
                                <p class="">@Html.Raw(Model.Service.Description)</p>
                            <footer class="bg-transparent">
                                <ul>
                                    @Html.Raw(Model.Service.ServiceQualification)
                                </ul>
                            </footer>
                        </article>

                    </div>

                    <div class="col-lg-6 col-sm-12"><img src="~/Users/Uploads/Services/@Model.Service.Photo" class="img-fluid wow fadeInLeft" alt="DMS Azerbaijan @Model.Service.Name"></div>
                </div>
            </div>
            <div class="scrollme">
                <img src="~/Users/newAssets/images/service/3.png" class="img-fluid service-three animateme"
                     data-when="enter"
                     data-from="0.5"
                     data-to="0"
                     data-translatex="100" alt="image">
            </div>
        </div>
    </div>
    <!-- Services END -->
    <!-- Works -->
    <section class="iq-works position-relative pt-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="section-title">
                        <p class="mb-0 text-uppercase iq-fw-5 iq-ls-2">DMS Azerbaijan</p>
                        <h2 class="title iq-fw-8">Xidmətlərimiz</h2>
                    </div>
                </div>
            </div>

            @await Component.InvokeAsync("Services")

        </div>

        <div class="scrollme">
            <img src="~/Users/newAssets/images/service/3.png" class="img-fluid service-three animateme"
                 data-when="enter"
                 data-from="0.5"
                 data-to="0"
                 data-translatex="100" alt="image">
        </div>
    </section>
    <!-- Works End -->

</div>