@using DMS.az.ViewModels.Portfolio
@model PortfolioIndexVM
@{
    var i = 0;
}
@section links {
    <title>@ViewBag.Title - DMS.az</title>
}

<!-- Breadcrumb -->
<section class="iq-breadcrumb">

    <div class="iq-breadcrumb-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-7 align-self-center">
                    <h2 class="iq-fw-8 mb-3">Portfolio</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Portfolio</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-5">
                    <img src="~/Users/images/Images-bro.svg" class="img-fluid" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="iq-breadcrumb-img">
        <img src="~/Users/newAssets/images/breadcrumb/02.png" class="img-fluid breadcrumb-two" alt="image">
    </div>
</section>
<!-- Breadcrumb END -->
<div class="main-content">
    <div class="iq-portfolio-page overview-block-ptb overview-block-pb5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="isotope-filters isotope-tooltip ">

                        <a asp-controller="portfolio" asp-action="TabMenu" asp-route-id="0" class="active tabs all-tab defaultOpen">All</a>
                        @foreach (var category in Model.PortfolioCategories)
                        {
                            if (category.Portfolios?.Count > 0)
                            {
                                <a asp-controller="portfolio" asp-action="TabMenu" asp-route-id="@category.Id" class="tabs @(i ==0 ? "active":"")">@category.Name </a>
                                i++;
                                @*<a class="button tabs" asp-action="TabMenu" asp-controller="portfolio" asp-route-id="@category.Id" style="text-decoration:none">@category.Name</a>
                        *@
                            }
                        }
                    </div>
                    <div class="isotope iq-columns-3  infinite-scrolling" id="tab-content">

                        @* @foreach (var project in Model.Portfolio)
                        {
                        <a asp-action="details" asp-controller="portfolio" asp-route-id="@project.Id" class="d-block">
                        <article class="iq-grid-item @project.PortfolioCategory?.Name">
                        <div class="d-block iq-portfolio">
                        <img src="~/Users/Uploads/Projects/@project.Photo" class=" object-fit-cover" style="object-fit:cover" width="362" height="453" alt="DMS Azerbaijian @project.Title">
                        <div class="portfolio-info">
                        <p class="mb-0"><span class="text-black portfolio-title">@project.Title</span></p>
                        </div>
                        </div>
                        <header class="d-none">@project.Title</header>
                        </article>
                        </a>
                        } *@

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>

    <script>

        $(function () {
            $('.tabs').on('click', function (e) {
                e.preventDefault();

                let link = $(this).attr("href");

                if ($(this).hasClass('all-tab')) {
                    link = '/portfolio/TabMenu/0';
                }

                fetch(link).then(res => res.text()).then(html => {
                    let tab_content = document.getElementById('tab-content');
                    tab_content.innerHTML = html;
                    console.log(html)
                });
            });

            document.getElementsByClassName("defaultOpen")[0].click();
        });
    </script>
}