@using DMS.az.ViewModels.Portfolio
@model PortfolioIndexVM
@{
    var i = 0;
}
@section links {
    <title>@ViewBag.Title - DMS.az</title>
}

<!-- Breadcrumb -->
<section class="iq-breadcrumb">

    <div class="iq-breadcrumb-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-7 align-self-center">
                    <h2 class="iq-fw-8 mb-3">Portfolio</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-action="index" asp-controller="Home">Ana Səhifə</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Portfolio</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-5">
                    <img src="~/Users/images/Images-bro.svg" class="img-fluid" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="iq-breadcrumb-img">
        <img src="~/Users/newAssets/images/breadcrumb/02.png" class="img-fluid breadcrumb-two" alt="image">
    </div>
</section>
<!-- Breadcrumb END -->
<div class="main-content">
    <div class="iq-portfolio-page overview-block-ptb overview-block-pb5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="isotope-filters isotope-tooltip ">
                        <button data-filter="" class="active">Hamısı </button>

                        @foreach (var category in Model.PortfolioCategories)
                        {
                            if(category.Portfolios?.Count > 0)
                            {
                                
                            <button data-filter=".@category.Name?.Trim()?.Replace(' ', '_')" class="@(i ==0 ? "active":"")">@category.Name </button>
                            i++; 
                            }
                        }
                    </div>
                    <div class="isotope iq-columns-3  infinite-scrolling">

                      @foreach (var project in Model.Portfolio)
                        {
                            <a asp-action="details" asp-controller="portfolio" asp-route-id="@project.Id" class="d-block">
                                <article class="iq-grid-item @project.PortfolioCategory?.Name?.Trim()?.Replace(' ', '_')">
                                    <div class="d-block iq-portfolio">
                                        <img src="~/Users/Uploads/Projects/@project.Photo" class=" object-fit-cover" style="object-fit:cover;aspect-ratio:1"  alt="DMS Azerbiajian @project.Title">
                                        <div class="portfolio-info">
                                            <p class="mb-0"><span class="text-black portfolio-title">@project.Title</span></p>
                                        </div>
                                    </div>
                                    <header class="d-none">@project.Title</header>
                                </article>
                            </a>
                        }
                      
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>